/*
#################################
# Configuração padrão da página #
#################################
*/

body, html {
	margin: 0;
	font: 16px "Lato", sans-serif;
	color: #777;
	width: 100%;
	height: 100%;
	padding: 0;
	/* display: flex; */
	justify-content: center;
	align-items: center;
}

.linha {
    height: 10px;
}

.conteudo {
	color: #777;
	background-color: #fff;
	text-align: justify;
	padding: 50px 80px;
}

h3 {
	text-transform: uppercase;
	color: #111;
	text-align: center;
}

p {
	margin-bottom: 20px;
	color: #000;
	text-shadow: #000 0.1em 0.1em 0.2em;
}

p::first-letter {
	font-size: 2rem;
	font-weight: bold;
	color: red;
	text-shadow: #000 0.1em 0.1em 0.2em;
}

::-webkit-scrollbar {
	display: none;
}

/*
################################
########### Tradução ###########
################################
*/

#google_translate_element, .goog-te-banner-frame, .goog-te-balloon-frame, #goog-gt-tt, .goog-te-balloon-frame, .goog-tooltip, .goog-tooltip:hover {
	display: none !important;
}

/*
################################
######## Slide Image BG ########
################################
*/

.slider {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 100%;
}

#radio1:checked ~ .first, #radio4:checked ~ .first, #radio7:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first, #radio5:checked ~ .first, #radio8:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first, #radio6:checked ~ .first, #radio9:checked ~ .first {
    margin-left: -50%;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

/*
################################
##### Horizontal Menu CSSS #####
################################
*/

nav ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.nav {
	width: 100%;
	margin: 0 auto;
	background: transparent;
	color: rgba(0, 0, 0, 1);
}

.nav a {
	display: block;
	padding: 0 48px;
	line-height: inherit;
	cursor: pointer;
}

.nav__menu {
	line-height: 50px;
	font-weight: 700;
	text-transform: uppercase;
}

.nav__menu-item {
	display: inline-block;
	position: relative;
}

.nav__menu-item:hover {
	background-color: rgba(255, 255, 0, 0.7);
}

.nav__menu-item:hover .nav__submenu {
	display: block;
}

/*
#################################
######## Efeito Parallax ########
#################################
*/

.caixa1, .caixa2, .caixa3, .caixa4, .caixa5, .caixa6, .caixa7, .caixa8, .caixa9, .caixa10 {
	position: relative;
	height: 100%;
	opacity: 0.75;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.caixa1 {
	background-color: yellow;
	background-image: url(https://github.com/morkitus/bancoimg/blob/main/Logos/Logo-GIF.gif?raw=true);
}

/* .caixa2 {
	background-image: url(https://github.com/morkitus/bancoimg/blob/main/AssettoCorsa/001.jpg?raw=true);
}

.caixa3 {
	background-image: url(https://github.com/morkitus/bancoimg/blob/main/AssettoCorsaCompetizone/001.jpg?raw=true);
}

.caixa4 {
	background-image: url(https://github.com/morkitus/bancoimg/blob/main/DirtRally2.0/001.jpg?raw=true);
}

.caixa5 {
	background-image: url(https://github.com/morkitus/bancoimg/blob/main/EuroTruckSimulator/001.jpg?raw=true);
}

.caixa6 {
	background-image: url(https://github.com/morkitus/bancoimg/blob/main/F122/001.jpg?raw=true);
}

.caixa7 {
	background-image: url(https://github.com/morkitus/bancoimg/blob/main/ForzaHorizon/001.jpg?raw=true);
}

.caixa8 {
	background-image: url(https://github.com/morkitus/bancoimg/blob/main/GTAMods/001.jpg?raw=true);
}

.caixa9 {
	background-image: url(https://github.com/morkitus/bancoimg/blob/main/NeedForSpeedHeat/001.jpeg?raw=true);
}

.caixa10 {
	background-image: url(https://github.com/morkitus/bancoimg/blob/main/TheCrew2/001.jpg?raw=true);
} */

.conteudo-titulo {
	position: absolute;
	left: 0;
	top: 45%;
	width: 100%;
	text-align: center;
}

.conteudo-titulo span.titulo {
	color: #fff;
	background-color: #111;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 5px;
	text-transform: uppercase;
}

footer {
	text-shadow: #000 0.1em 0.1em 0.2em;
	text-align: center;
    font-weight: bold;
    padding: 5px 50px;
	color: #fff;
	-webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: #000
}