/*
#################################
# Configuração padrão da página #
#################################
*/

body, html {
	margin: 0;
	font: 16px "Lato", sans-serif;
	color: #777;
	width: 100%;
	height: 100%;
	padding: 0;
	justify-content: center;
	align-items: center;
}

.linha {
    height: 10px;
}

.conteudo {
	color: #777;
	background-color: #fff;
	text-align: justify;
	padding: 50px 80px;
}

h3 {
	text-transform: uppercase;
	color: #111;
	text-align: center;
}

p {
	margin-bottom: 20px;
	color: #000;
	text-shadow: #000 0.1em 0.1em 0.2em;
}

p::first-letter {
	font-size: 2rem;
	font-weight: bold;
	color: red;
	text-shadow: #000 0.1em 0.1em 0.2em;
}

::-webkit-scrollbar {
	display: none;
}

/*
################################
########### Tradução ###########
################################
*/

#google_translate_element, .goog-te-banner-frame, .goog-te-balloon-frame, #goog-gt-tt, .goog-te-balloon-frame, .goog-tooltip, .goog-tooltip:hover {
	display: none !important;
}

/*
################################
######## Slide Image BG ########
################################
*/

.slider {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 100%;
}

#radio1:checked ~ .first, #radio4:checked ~ .first, #radio7:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first, #radio5:checked ~ .first, #radio8:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first, #radio6:checked ~ .first, #radio9:checked ~ .first {
    margin-left: -50%;
}

.navigation-auto div {
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

/*
###############################
##### Horizontal Menu CSS #####
###############################
*/

nav{
	display: flex;
	justify-content: center;
 }

#navegacao {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 1080;
	height: 1%;
	background: #fff;
	justify-content: center;
	align-items: center;
}

ul li {
	float: left;
	justify-content: center;
	align-items: center;
}

ul a.horz {
	display: block;
	padding: 0 2em;
	line-height: 2.2em;
	text-decoration: none;
	color: #000;
}

ul .primeiro a.horz {
	background: #fff;
}

ul a.horz:hover {
	text-shadow: #000 0.1em 0.1em 0.2em;
	color: #fff;
	background: rgba(255, 0, 0, 0.75);
}

#home #navegacao .home a.horz, #quem-somos #navegacao .quem-somos a.horz, #streamers #navegacao .streamers a.horz, #parceiros #navegacao .parceiros a.horz, #galeria #navegacao .galeria a.horz, #fale-conosco #navegacao .fale-conosco a.horz {
	background-position: right bottom;
	background-color: rgba(255, 255, 0, 0.75);
	color: #000;
	text-shadow: #000 0.1em 0.1em 0.2em;
}

/*
###############################
###### Vertical Menu CSS ######
###############################
*/

.container {
	position: fixed;
	bottom: 1em;
	right: 1em;
	z-index: 1;
}
  
.menu-toggle {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: rgba(255, 0, 0, 1);
	box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
	position: absolute;
	z-index: 5;
	bottom: 0;
	right: 0;
	display: table;
	text-align: center;
}

.menu-toggle .fa {
	color: #fff;
	font-size: 2em;
	display: table-cell;
	vertical-align: middle;
	transition: 0.4s;
}

.menu-toggle.open .fa {
	transform: rotate(135deg);
}
  
.btn-app {
	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;
	position: absolute;
	background-color: rgba(255, 255, 0, 1);
	color: #000;
	text-align: center;
}

.btn-app .fa {
	line-height: 2.5em;
}
  
.open .btn-app {
	box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
}
  
.menu-round {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 3;
}

.menu-round .btn-app {
	bottom: 0.25em;
	right: 0.25em;
	transition: 0.4s;
}

.menu-round.open .btn-app:nth-of-type(1) {
	right: 0.5em;
	bottom: 4.25em;
	transition-delay: 0.2s;
}

.menu-round.open .btn-app:nth-of-type(2) {
	right: 3.5em;
	bottom: 3.5em;
	transition-delay: 0.1s;
}

.menu-round.open .btn-app:nth-of-type(3) {
	right: 4.25em;
	bottom: 0.5em;
}

a.fa {
	width: 16x;
	height: 16px;
}

/*
#################################
######## Efeito Parallax ########
#################################
*/

.caixa1, .caixa2, .caixa3, .caixa4, .caixa5, .caixa6, .caixa7, .caixa8, .caixa9, .caixa10 {
	position: relative;
	height: 100%;
	opacity: 0.75;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.caixa1 {
	background-color: yellow;
	background-image: url(https://github.com/morkitus/bancoimg/blob/main/Logos/Logo-GIF.gif?raw=true);
}

.conteudo-titulo {
	position: absolute;
	left: 0;
	top: 45%;
	width: 100%;
	text-align: center;
}

.conteudo-titulo span.titulo {
	color: #fff;
	background-color: #000;
	padding: 18px;
	font-size: 50px;
	letter-spacing: 5px;
	text-transform: uppercase;
}

footer {
	text-shadow: #000 0.1em 0.1em 0.2em;
	text-align: center;
    font-weight: bold;
    padding: 5px 50px;
	color: #fff;
	-webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: #000
}